{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/other/green.jpeg' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>Bærekraft</h1>

      <p><span class="subheading">Football For The Goals</span><br><br>

I 2022 jobbet vi sammen med en prosjektgruppe på HINN avd. Lillehammer i deres fag, Prosjektledelse i praksis. Formålet var å stake ut en kurs knyttet til bærekraft, hvor dette blir en naturlig del av vår forretningsmodell. Vi tror at ved å gjøre bærekraft til noe konkret for oss i Lillehammer FK, vil det være lettere å påvirke våre medlemmer og omgivelser i positiv retning. Prosjektgruppen hjalp oss derfor med å stake ut en kurs, hvor vi har fokus på utvalgte mål knyttet til bærekraft.<br><br>

Her ønsker vi å ta en aktiv rolle som klubb, og vi anser bærekraft som en naturlig del av det å ta samfunnsansvar, både på og utenfor banen. Vi ser også at våre samarbeidspartnere er tydelige på bærekraft, og at dette stadig oftere tas inn i avtalene vi har med næringslivet. Som en respons på dette, har vi lansert egne sponsorater knyttet til bærekraft, og på sikt har vi en ambisjon om å etablere et eget bærekraftpanel.<br><br>


<span class="subheading">Våre prioriterte bærekraftsmål</span><br><br>

Vi i Lillehammer FK vil de nærmeste årene legge fokus på målene 3, 5 og 12. I praksis innebærer dette:<br><br>


<strong>Mål 3 – God helse</strong><br><br>
<img  src="{% static 'images/other/green3.jpeg' %}" alt="" class="cover-img">
<br>
<br>
3.5 Samarbeide med lokalt politi og Lillehammer kommune om holdningsskapende arbeid knyttet til rusmidler, spesielt i Ungdomsavdelingen<br>
3.6 Utvikle og informere om plakaten «Slik kjører vi i Lillehammer FK!»<br>
3.a Arbeide med holdningsskapende arbeid knyttet til virkninger og skader ved bruk av tobakk<br><br>


<strong>Mål 5 – Likestilling mellom kjønnene</strong><br><br>
<img  src="{% static 'images/other/green5.jpeg' %}" alt="" class="cover-img">
<br>
<br>

5.1 Arbeide for å få flere kvinner engasjert i klubben<br>
5.2 Arbeide for et miljø preget av likeverd, respekt og toleranse<br>
5.5 Arbeide for å få flere kvinnelige styremedlemmer<br><br>


<strong>Mål 12 – Ansvarlig forbruk og produksjon</strong><br><br>
<img  src="{% static 'images/other/green12.jpeg' %}" alt="" class="cover-img">
<br>
<br>
12.5 Legge til rette for møteplasser hvor fotballtøy og –utstyr kan arves<br>
12.6 Rapportere på bærekraft i Årsberetningen fra og med 2023<br>
12.8 Inkludere bærekraft og sirkulær økonomi som en viktig del av spillerutviklingen<br><br>


<span class="subheading">Samarbeid med UFF</span><br><br>

Vi har i tillegg et samarbeid med UFF, hvor vi har plassert ut containere i nærområdet. Her kan man levere tøy som da blir resirkulert og får nytt liv. Dette er et lite, men viktig lokalt bidrag til sirkulær økonomi.<br><br>

<!-- Dere kan lese mer om dette her:<br>
<a href="https://lillehammerfk.no/bruk-vare-containere/" target="_blank">
https://lillehammerfk.no/bruk-vare-containere/
</a><br><br> -->


<span class="subheading">Fordypning</span><br><br>

For de som kjenner at det rykker i skuddfoten, kan man fordype seg mer i følgende linker:<br><br>

<a href="https://www.fn.no/om-fn/fns-baerekraftsmaal" target="_blank">
https://www.fn.no/om-fn/fns-baerekraftsmaal
</a><br><br>

<a href="https://www.un.org/en/footballforthegoals" target="_blank">
https://www.un.org/en/footballforthegoals
</a><br><br>

<a href="https://weplaygreen.com/" target="_blank">
https://weplaygreen.com/
</a><br>
</p>
    </div>
  </div>
</section>



{% endblock %}
 