{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/covers/fairplay.jpeg' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>Fair Play</h1>
<p>
  <br>
<span class="subheading">Trenervett</span><br>
Som trener er jeg et forbilde for spillerne mine. Da er det viktig at jeg utviser trenervett.<br><br>

Jeg er her for spillerne, ikke for meg selv.<br>
Jeg ser og hører meg selv «utenfra» og spillerne «innenfra».<br>
Jeg velger å være positiv fordi jeg vet at min oppførsel – både positiv og negativ – smitter over på andre.<br>
Jeg påvirker både spillerne mine, «benken» min, dommeren, motstanderlaget og publikum gjennom positiv språkbruk og positivt kroppsspråk.<br>
Jeg ønsker å være et godt forbilde for spillerne mine og en god ambassadør for fotballen og klubben min.<br><br>
<br>
<span class="subheading">Trenervett gir kampvett</span><br><br>

Gjennom fair play-møtet er jeg med på å skape en god fotballopplevelse for alle.<br>
Jeg samarbeider med motstanderlagets trener om å skape jevnbyrdighet i kampen.<br>
Alle er like mye verdt. Jeg sprer både spilletid og oppmerksomhet.<br>
Jeg er utviklingsorientert og veileder spillerne mot neste spillsituasjon. Jeg gjør dommeren god og henger meg ikke opp i dommeravgjørelser.<br>
Jeg er forberedt på at temperaturen kan bli høy, men jeg og spillerne mine skal håndtere det positivt og konstruktivt.<br>
Klarer jeg å etterleve dette, er jeg godt rustet til å være barnefotballtrener.<br><br>
<br>
<span class="subheading">Fair Play i barnefotballen</span><br><br>

Normalt avholdes et fair play-møte mellom trenerne og dommeren før kampen. Hjemmelagets trener tar initiativet til fair play-møtet. Som et minimum bør dialogen i denne samtalen omfatte disse temaene:<br><br>
<br>
<span class="subheading">Spillet</span><br><br>

Det skal ikke være høyt press ved igangsetting fra målvakt ved dødball (regel 16).<br>
Målsparkregelen skal benyttes (regel 16).<br>
Tilbakespillsregelen skal benyttes (regel 12).<br>
Når kampen er ujevn – hvilke virkemidler skal vi benytte for å få den jevnere?<br>
Hva og hvordan gjør vi ved skader?<br>
Hva kan vi gjøre for å fremme positivitet og fotballglede på banen?<br><br>
<br>
<span class="subheading">Rammene</span><br><br>

Husk å ønske motstanderlaget og dommeren lykke til før kampen, og takk for kampen etterpå.<br>
Foreldre, foresatte og publikum finner sin plass på motsatt side av lagleder- og spillersiden.<br>
Det må være enighet om å gjøre dommeren god.<br>
Husk at god oppførsel også gjelder i tøffe og vanskelige situasjoner.<br><br>

Fair play-møtet avsluttes med at trenere og dommere tar hverandre i hånden. Dette symboliserer at man skal holde avtaler inngått under fair play-møtet, at man skal være en positiv rollemodell for barna, og at det viktigste ikke er å vinne, men å delta.<br><br>

En god ramme og et godt fair play-møte gir oss en skikkelig fotballfest!<br><br>
<br>
<span class="subheading">Foreldrevett</span><br><br>

For å få et godt klima på og utenfor banen, så er det avgjørende å ha gode relasjoner og en god dialog med foreldregruppa. Det er viktig å klargjøre klubbens verdier, retningslinjer og lagets kjøreregler overfor foreldrene, slik at de blir bevisst sin rolle. Foreldremøter er en god arena for å skape og vedlikeholde denne bevisstheten. Bruk gjerne Foreldrevettreglene som en inngang til foreldremøter.<br><br>

Støtt opp om klubbens arbeid – gjennom foreldremøter forankres fotballens og klubbens verdisyn.<br>
Møt fram til kamper og treninger – du er viktig både for spillerne og miljøet.<br>
Gi oppmuntring til alle spillerne i med- og motgang – dette gir trygghet, trivsel og motivasjon for å bli i fotballfamilien lenge.<br>
Vi har alle ansvar for kampmiljøet – gi ros til begge lag for gode prestasjoner og Fair Play.<br>
Respekter trenerens kampledelse – konstruktiv dialog om gjennomføring tas med trener og klubb i etterkant.<br>
Respekter dommerens avgjørelser – selv om du av og til er uenig!<br>
Det er ditt barn som spiller fotball. Opptre positivt og støttende – da er du en god medspiller!<br><br>
<br>
<span class="subheading">Trafikksikkerhet i LFK</span><br><br>

Trafikksikkerhet i LFK er viktig for vi har ingen å miste. Her kan du lese om våre retningslinjer for trafikksikkerhet til og fra trening og kamp: Trafikksikkerhet LFK
</p>



    </div>
  </div>
</section>



{% endblock %}
 