
















{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/other/grasrot.jpeg' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>Grasrotandel</h1>

        <p><span class="subheading">Grasrotandelen</span><br><br>

Støtt Lillehammer Fotballklubb som grasrotmottaker når du spiller et av Norsk Tipping sine spill!<br><br>

Les mer og søk opp LFK her:<br>
<a href="https://www.grasrotandelen.no" target="_blank">www.grasrotandelen.no</a><br><br>


<span class="subheading">Hos kommisjonær</span><br><br>

Ta med deg LFK-org.nr <strong>981623916</strong> og ditt Spillerkort til en av kommisjonærene.<br><br>


<span class="subheading">På SMS</span><br><br>

Tilknytt <strong>LILLEHAMMER FOTBALLKLUBB</strong> som din grasrotmottaker via SMS.<br><br>

Send:<br>
<strong>GRASROTANDELEN 981623916</strong><br>
til <strong>2020</strong><br><br>

(Tjenesten er gratis)<br><br>


<span class="subheading">Norsk Tipping Mobilspill</span><br><br>

Start Mobilspill og velg «Grasrotandel-symbolet». Dersom du ikke har Norsk Tipping Mobilspill, kan du laste det ned ved å sende:<br><br>

<strong>SPILL</strong> til <strong>1960</strong>
</p>


    </div>
  </div>
</section>



{% endblock %}
 