{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/covers/cover-6.png' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>Landslagsskolen</h1>
<p>
<span class="subheading">Generell info</span><br><br>

Norsk fotball er inndelt i 18 fotballkretser, hvor Lillehammer Fotballklubb befinner seg i NFF Indre Østland. Landslagsskolen er norsk fotball sin spillerutviklingsmodell hvor alle landets kretser har felles føringer for hvordan nivåene i Landslagsskolen skal driftes. Landslagsskolen består av følgende fem nivåer: sonelag, kretslag, toppgruppe jenter, talentleire og aldersbestemte landslag. En av fotballkretsens oppgaver er å drifte de tre første nivåene av Landslagsskolen. I NFF Indre Østland driftes Landslagsskolen av spillerutvikler Eivind Sollie.<br><br>

Det året man fyller tolv år starter Landslagsskolen opp med sonelagsaktiviteter i alle landets fotballkretser og varer helt til våren man blir fjorten år. Kretslagene starter opp våren det året man fyller tretten år og varer helt til våren det året man fyller seksten år. De aldersbestemte landslagene starter opp det året man fyller femten år med årgangslandslag og går helt opp til A-landslag.<br><br>

<span class="subheading">Sonelag</span><br><br>

NFF Indre Østland strekker seg fra Kongsvinger i sør til Dovre i nord, fra Engerdal i øst til Skjåk i vest. Med bakgrunn i denne geografien er fotballkretsen inndelt i fem soner. Klubbene i Lillehammer og nordover tilhører sone nord, som driftes av Lillehammer Fotballklubb i samarbeid med NFF Indre Østland. Øvrige soner i NFF Indre Østland driftes av Raufoss, HamKam, Elverum og Kongsvinger. Et sonelag består derfor av fotballspillere fra en gitt årgang og kjønn fra en av disse sonene.<br><br>

<span class="subheading">Eierskap til egen utvikling</span><br><br>

Vi leter etter spillere som elsker å spille fotball, har et sterkt eierskap til egen utvikling og et godt nåværende fotballferdighetsnivå. Hvorfor eierskap til egen utvikling? Det er fordi vi tror spillerne med disse egenskapene blir best til slutt. Hvorfor et godt nåværende fotballferdighetsnivå? Det er fordi landslagsskolen og sonearenaen skal være en referansearena på godt nivå.<br><br>

Eierskap til egen utvikling kan kjennetegnes med følgende stikkord:<br><br>

<span class="subheading">Trener mye</span><br>
En forutsetning for å bli god er mye trening. Vi leter derfor etter spillere som har trent og trener mye. Spillere som øver på egenhånd med ball, kjører styrkeøvelser etter fellestreninga osv.<br><br>

<span class="subheading">Tilstedeværelse</span><br>
Like viktig som antall treningstimer, er tilstedeværelse i den enkelte økta. Vi leter etter spillere som lever seg inn i aktiviteten og som gir alt for å vinne sine «kamper i kampen».<br><br>

<span class="subheading">Tester egne grenser</span><br>
Skal man ha utvikling, så må man i dag prøve på det man ikke klarte i går. Vi leter etter, og ønsker å legge til rette for, spillere som går ut av komfortsonen. Spillere som forsøker å dra av lagets beste forsvarspiller, som tar det ekstra draget, som bruker venstra, selv om høyre er bedre, osv.<br><br>

<span class="subheading">Nysgjerrige og reflekterte</span><br>
Vi leter etter spillere som er sine egne trenere. Spillere som tenker igjennom «Hva det var jeg gjorde bra, og hvorfor?» og «Hva kunne jeg gjort bedre, og hvordan?». Spillere som aktivt innhenter kunnskap og som lytter til råd fra trenere og medspillere.<br><br>

Det finnes mer informasjon om Landslagsskolen i denne linken: Sone NFF Indre Østland<br><br>

Spørsmål om Landslagsskolen i Sone Nord kan rettes på mail til:<br><br>

<a href="mailto:admin@lillehammerfk.no">admin@lillehammerfk.no</a><br>
<a href="mailto:dagligleder@lillehammerfk.no">dagligleder@lillehammerfk.no</a>
</p>


    </div>
  </div>
</section>



{% endblock %}
 