{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'scss/pages/medlemsfordeler.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'scss/global/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}">

<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>

<section class="cover medlemsfordeler-page">

<div class="image">
<img src="{% static 'images/other/medlemsfordeler1.jpeg' %}" class="cover-img position">
</div>

<div class="content">

<div class="text">
<p class="headinp">Medlemsfordeler</p>
<h1>Medlems&shy;fordeler</h1>
<p class="intro">
Her finner du samarbeidspartnere som gir rabatter og fordeler til alle i tilknytning Lillehammer FK.
</p>
</div>


<div class="company-list">


<div class="company">
<img src="{% static 'images/other/imgi_13_Felgen-bilde-1.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Felgen Trafikkskole</h3>
<p>Få 10% rabatt på alle trafikale kurs og opplæring.</p>
</div>
<div class="actions">
<a href="https://www.facebook.com/felgen.trafikkskole"><i class="fa-brands fa-facebook-f"></i></a>
<a href="https://felgen-trafikkskole.no/"><i class="fa-solid fa-globe"></i></a>
<a href="mailto:post@felgen-trafikkskole.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/106.jpg' %}">
<div class="flex-actions">
<div class="info">
<h3>Rustadstuen Sport</h3>
<p>20% rabatt på Puma utstyr for LFK medlemmer.</p>
</div>
<div class="actions">
<a href="https://www.facebook.com/RUSTADSTUEN-SPORT-198769036832429/"><i class="fa-brands fa-facebook-f"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/108.webp' %}">
<div class="flex-actions">
<div class="info">
<h3>Sport 1 Strandtorget</h3>
<p>20% rabatt på Puma utstyr for LFK medlemmer.</p>
</div>
<div class="actions">
<a href="https://sport1strandtorget.no/"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_16_Egon-e1566896752118.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Egon</h3>
<p>10% av bestillingen går tilbake til LFK når du bruker LFK-knappen.</p>
</div>
<div class="actions">
<a href="https://www.facebook.com/EgonLillehammer/"><i class="fa-brands fa-facebook-f"></i></a>
<a href="https://www.egon.no/restauranter/lillehammer"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_17_Olivera_Tannhelseteam.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Olivera Tannhelseteam</h3>
<p>20% rabatt på ordinær tannbehandling for LFK medlemmer.</p>
</div>
<div class="actions">
<a href="https://www.facebook.com/Tannhelseteam-Olivera-2014058138894371/"><i class="fa-brands fa-facebook-f"></i></a>
<a href="https://www.oliveratannhelseteam.no/"><i class="fa-solid fa-globe"></i></a>
<a href="mailto:post@oliveratannhelseteam.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_18_aksjemøllen.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Aksjemøllen</h3>
<p>12% rabatt på hotellrom med bookingkode "fotball".</p>
</div>
<div class="actions">
<a href="https://www.facebook.com/mollahotell/"><i class="fa-brands fa-facebook-f"></i></a>
<a href="http://www.aksjemollen.no/"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_1_logo.d864232f.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Gudbrandsdal Energi</h3>
<p>Kick-back til LFK når medlemmer blir strømkunder.</p>
</div>
<div class="actions">
<a href="https://www.ge.no/"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_20_GK_logo_GREEN.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>GK</h3>
<p>10% rabatt på timepris og 20% rabatt på materiell.</p>
</div>
<div class="actions">
<a href="https://www.gk.no/"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


<div class="company">
<img src="{% static 'images/other/imgi_21_Enterprise-Rent-A-Car.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Enterprise</h3>
<p>20% rabatt på bilutleie for LFK medlemmer.</p>
</div>
<div class="actions">
<a href="https://autofleks.no/vare-avdelinger/"><i class="fa-solid fa-globe"></i></a>
</div>
</div>
</div>


</div>
</div>
</section>

{% endblock %}