
















{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/other/stampapodden.jpeg' %}" alt="" class="cover-img">
    </div>
    <div class="content">
        <div class="text">
            <h1>Stampapodden</h1>
            <img  src="{% static 'images/other/stampapodden-logo.jpg' %}" alt="" class="cover-img">

        <p><span class="subheading">Stampapodden</span><br><br>

Lillehammer FK ønsker å bidra til økt entusiasme omkring lokalfotballen, ikke bare i Lillehammer, men i hele regionen.<br><br>


<span class="subheading">Om podcasten</span><br><br>

Vi har derfor laget en podcast som heter <strong>Stampapodden</strong>. Hver episode varer om lag én time. Her skal det drodles omkring lokalfotballen, men gjerne med både nasjonale og internasjonale perspektiver.<br><br>

Vi skal forsøke å unngå taklinger i knehøyde, men ett og annet sleivspark må påregnes. Hver episode vil ha besøk av en gjest, og her kan du som lytter komme med innspill på hvem du ønsker skal komme på besøk i Stampapodden.<br><br>

Ditt ønske sender du på mail til:<br>
<a href="mailto:stampapodden@gmail.com">stampapodden@gmail.com</a><br><br>


<span class="subheading">Programledere</span><br><br>

Det er <strong>Kim Marius Heen</strong> som har hovedansvaret for Stampapodden. Ved hans side vil også <strong>Jostein Wahl</strong> sitte.<br><br>


<span class="subheading">Følg oss</span><br><br>

I forkant av hver episode vil Stampapodden via Instagram kunngjøre hvilken gjest som kommer på besøk. Spørsmål kan sendes inn via denne kanalen.<br><br>

Du finner Stampapodden her:<br>
<strong>@stampapodden</strong><br><br>


<span class="subheading">Avslutning</span><br><br>

Da gjenstår det bare å ønske en riktig god lytteropplevelse. Nye episoder som legges ut kunngjøres via sosiale medier.<br><br>

<strong>Podcasthilsen</strong><br>
Kimmer’n &amp; Joz.
</p>

    </div>
  </div>
</section>



{% endblock %}
 