{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/other/uefaplaymakers.jpeg' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>UEFA Playmakers</h1>
      <p>
UEFA, Disney og NFF gjennomfører et pilotprosjekt, og vi er stolte over å ta del i dette herlige konseptet.<br><br>

Flere aktører har gått sammen om å øke andelen fotballspillende jenter i Europa. UEFA Playmakers retter seg spesielt mot jenter i alderen 6-8 år. Vi gleder oss over å ta del i dette konseptet. <br><br>

Oppmøte til alle økter er ved Klubbhuset på Stampa. Etter økten 26. mai vil det også avholdes et foreldremøte rett i etterkant, fra kl. 12.00-13.00.<br><br>

På disse øktene vil jentene også få møte flotte forbilder fra vår egen ungdomsavdeling som vil ta del i øktene.<br><br>

Det er Tonje og Oscar som er ansvarlige for UEFA Playmakers, og relevant informasjon og kontaktinfo til de to finner du i flyeren nedenfor.<br><br>

Du finner mer informasjon om UEFA Playmakers på NFF sine nettsider: <a href="https://www.fotball.no/barn-og-ungdom/uefa-playmakers/">Info UEFA Playmakers</a><br><br>

Vi ønsker vel møtt til herlig fotballglede.<br><br>

</p>


    </div>
  </div>
</section>



{% endblock %}
 