{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>



<section class="cover" >
    <div class="image">
        <img  src="{% static 'images/covers/sponsor.jpeg' %}" alt="" class="cover-img">
    </div>
  <div class="content">
    <div class="text">
      <h1>Våre partnere</h1>
        <img src="{% static 'images/other/sno.jpg' %}" alt="">


        <p>
            <span class="subheading">Samarbeidspartnere</span><br><br>

I Lillehammer FK organiserer vi våre samarbeidspartnere i følgende kategorier:<br><br>

Generalpartner<br>
Øvre<br>
Nedre<br>
Søndre<br>
Tor &amp; Anitas venner<br><br>



<span class="subheading">SNØ Partnernettverk</span><br><br>

<strong>Generalpartner:</strong><br>
Sparebank 1 Gudbrandsdal<br>
Anlegg Øst Entreprenør<br><br>

<strong>Øvre:</strong><br>
GD<br>
Pizzabakeren<br>
Dialecta<br>
Eidsiva<br>
Puma<br>
Kontorleverandøren<br>
Thallaug<br>
Rustadstuen Sport<br>
Sport 1 Strandtorget<br>
KANTALL<br>
Norconsult<br>
Fjøssystemer<br>
Gudbrandsdal Energi<br><br>

<strong>Nedre:</strong><br>
GLØR Partner<br>
Gausdal Landhandleri<br>
CC Strandtorget<br>
ØM Fjeld (ØMF)<br>
Paa bordet<br>
Kiwi<br>
IKOMM<br>
Østbye &amp; Sletmoen<br>
Lillehammer sentrum Drift<br>
Structor<br><br>

<strong>Søndre:</strong><br>
Felgen Trafikkskole<br>
Aktivklinikken<br>
Eidsiva Bredbånd<br>
Thor Bergseng &amp; Co A/S<br>
Tur.digital<br>
Olivera Tannhelseteam<br>
Stasjonen<br>
CC Mat<br>
Ragnvald Moe AS<br>
USBL<br>
Advokatfirmaet Alver<br>
Lillehammer Ventilasjon AS<br>
Hafslund Eco Vannkraft<br>
Profilgutta<br>
Aider<br>
Lillehammer Live<br><br>

<strong>Tor &amp; Anitas venner:</strong><br>
Dokken &amp; Moen Murmesterforretning as<br>
Brillehjørnet Synsam<br>
EGON Restaurant<br>
Coca Cola<br>
Aksjemøllen by Classic Norway Hotels<br>
Betong Øst<br>
Jorekstad fritidsbad<br>
Innlandet Landskapsutforming<br>
P4 Radio Hele Norge<br>
The Lounge<br>
Lillehammer Liftutleie<br>
GK<br>
JVB TUR A/S<br>
Scandic Victoria Lillehammer<br>
Kirkens SOS<br>
Kulturhjerte<br>
Enterprise<br>
Prosit AS<br>
06565 Drosjene<br>
ECPay – ECIT<br>
Jonny´s Renhold<br>
Isobygg Innlandet<br>
Mjøsbil AS<br>
Holms Bilpleie<br>
Sabrura Strandtorget<br>
Hennig-Olsen is<br>
Lillehammer Data<br>
House of control<br>
Naprapat-en<br><br>


<span class="subheading">Thallaug Cup Lillehammer</span><br><br>

Lillehammer FK arrangerer hver vinter, i januar, Thallaug Cup Lillehammer i fotball. Dette er en av de største innendørsturneringene i Norge, og vi har med oss følgende samarbeidspartnere på laget:<br><br>

<strong>Tittelpartner:</strong><br>
Thallaug<br><br>

<strong>Wiese:</strong><br>
Sparebank 1 Gudbrandsdal<br>
Puma<br><br>

<strong>Undset:</strong><br>
Kiwi<br>
CC Strandtorget<br>
Kontorleverandøren<br>
Eidsiva<br>
Profilgutta<br><br>

<strong>Sandvig:</strong><br>
Birkebeineren Hotel &amp; Apartments<br>
Aksjemøllen<br>
Stasjonen<br>
Fist Hotel Breiseth<br>
Home Hotel Hammer<br>
Trofé<br>
Pizzabakeren<br>
Starbucks Strandtorget<br>

        </p>

    </div>
  </div>
</section>



{% endblock %}
 