{% extends 'core/base.html' %}
{% load static %}

{% block head %}

<title>Samarbeidspartnere | Lillehammer FK Sponsorer</title>

<meta name="description" content="Se alle samarbeidspartnere og sponsorer til Lillehammer Fotballklubb. Bli partner og støtt lokal fotball i Lillehammer.">

<meta name="robots" content="index, follow">
<meta name="author" content="Lillehammer Fotballklubb">
<meta name="keywords" content="Lillehammer FK sponsorer, samarbeidspartnere Lillehammer, sponsor fotball Lillehammer, støtte idrett Lillehammer">

<link rel="canonical" href="{{ request.build_absolute_uri }}">

<!-- Open Graph -->
<meta property="og:title" content="Samarbeidspartnere | Lillehammer FK">
<meta property="og:description" content="Oversikt over våre sponsorer og samarbeidspartnere">
<meta property="og:image" content="{% static 'images/covers/sponsor.jpeg' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="nb_NO">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Lillehammer FK Sponsorer">
<meta name="twitter:description" content="Se våre samarbeidspartnere">
<meta name="twitter:image" content="{% static 'images/covers/sponsor.jpeg' %}">

<!-- Geo -->
<meta name="geo.region" content="NO-IN">
<meta name="geo.placename" content="Lillehammer">
<meta name="geo.position" content="61.1153;10.4662">
<meta name="ICBM" content="61.1153, 10.4662">

<!-- Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Lillehammer Fotballklubb",
  "url": "{{ request.build_absolute_uri }}",
  "sponsor": [
    {
      "@type": "Organization",
      "name": "SpareBank 1"
    },
    {
      "@type": "Organization",
      "name": "Anlegg Øst"
    },
    {
      "@type": "Organization",
      "name": "Webiser"
    },
  ]
}
</script>

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}">

<section class="cover blue">

<div class="image">
<img src="{% static 'images/covers/sponsor.jpeg' %}" class="cover-img" style="object-position:center 40%;">
</div>

<div class="content">
<div class="text">

<img src="{% static 'images/partners/Sno_Partnernettverk.png' %}" class="sno-partner">



<div class="accordion">

  <div class="accordion-item active">
    <div class="accordion-header">
      <span>GENERALPARTNER</span>
      <span class="plus">+</span>
    </div>

    <div class="accordion-content ">
      <div class="partner-list">

        <div class="partner-item" onclick="window.location.href='https://www.sparebank1.no/nb/gudbrandsdal/privat.html'">
          <img class="big" src="{% static 'images/partners/SpareBank 1_white.png' %}">
        </div>

        <div class="partner-item" onclick="window.location.href='https://anlegg-ost.no/'">
          <img class="big" src="{% static 'images/partners/anleggost_white.png' %}">
        </div>

      </div>
    </div>
  </div>

  <!-- ØVRE -->
  <div class="accordion-item ">
    <div class="accordion-header">
      <span>ØVRE</span>
      <span class="plus">+</span>
    </div>

    <div class="accordion-content">
      <div class="partner-list">

        <div class="partner-item" onclick="window.location.href='https://www.gd.no/'"><img class="small" src="{% static 'images/partners/GD_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.pizzabakeren.no/'"><img src="{% static 'images/partners/Pizzabakeren_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://dialecta.no/'"><img class="small" src="{% static 'images/partners/Dialecta_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://eu.puma.com/no/en/home'"><img class="small" src="{% static 'images/partners/Puma_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://eidsiva.no/'"><img src="{% static 'images/partners/Eidsiva_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://alver.as/advokat-lillehammer'"><img class="small" src="{% static 'images/partners/Alver_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://rustadstuensport.no/'"><img class="small" src="{% static 'images/partners/rustadstuen_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='http://kontorleverandoren.no/'"><img src="{% static 'images/partners/Kontorleverandoren_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href=''"><img src="{% static 'images/partners/LillehammerKultur_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.mova.no/treningssenter/mova-arena-lillehammer'"><img src="{% static 'images/partners/Mova_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://sport1strandtorget.no/'"><img src="{% static 'images/partners/Sport1_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.fjossystemer.no/'"><img src="{% static 'images/partners/Fjossystemer_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://ge.no/'"><img src="{% static 'images/partners/GudbrandsdalEnergi_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://kantall.no/'"><img src="{% static 'images/partners/Kantall_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://norconsult.no/kontakt-oss/lillehammer/'"><img src="{% static 'images/partners/Norconsult_white.png' %}"></div>

      </div>
    </div>
  </div>

  <!-- NEDRE -->
  <div class="accordion-item">
    <div class="accordion-header">
      <span>NEDRE</span>
      <span class="plus">+</span>
    </div>

    <div class="accordion-content">
      <div class="partner-list">

        <div class="partner-item" onclick="window.location.href='https://eidsiva.no/'"><img src="{% static 'images/partners/Eidsiva_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://webiser.no/'"><img src="{% static 'images/partners/Webiser.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://omfjeld.no/selskaper/ee/'"><img class="small" src="{% static 'images/partners/OMF.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.glor.no/'"><img class="small" src="{% static 'images/partners/Glor_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.ccstrandtorget.no/'"><img src="{% static 'images/partners/CC_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='http://www.structor.no/'"><img src="{% static 'images/partners/structor_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://kiwi.no/'"><img class="small" src="{% static 'images/partners/Kiwi_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://lillehammersentrum.no/'"><img src="{% static 'images/partners/LillehammerSentrumDrift_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://oogs.no/'"><img src="{% static 'images/partners/OstbyeSletmoen_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://bordet.no/'"><img src="{% static 'images/partners/PaaBordet_white.png' %}"></div>

      </div>
    </div>
  </div>

  <!-- SØNDRE -->
  <div class="accordion-item">
    <div class="accordion-header">
      <span>SØNDRE</span>
      <span class="plus">+</span>
    </div>

    <div class="accordion-content">
      <div class="partner-list">

        <div class="partner-item" onclick="window.location.href='https://www.lillehammerlive.no/'"><img class="small" src="{% static 'images/partners/LillehammerLive_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.ab-bemanning.no/'"><img class="small" src="{% static 'images/partners/ABBemanning_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.aktivklinikken.no/'"><img src="{% static 'images/partners/Aktivklinikken_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.thorbergseng.no/'"><img src="{% static 'images/partners/ThorBergseng_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.profilgutta.no/'"><img src="{% static 'images/partners/Profilgutta_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.lhmr-vent.no/'"><img src="{% static 'images/partners/LillehammerVentilasjon_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.ccmat.no/'"><img class="small" src="{% static 'images/partners/CCmat_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://aider.no/'"><img class="small" src="{% static 'images/partners/Aider_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.gaus.no/'"><img src="{% static 'images/partners/GausdalLandhandleri_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.oliveratannhelseteam.no/'"><img src="{% static 'images/partners/Olivera_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.felgen-trafikkskole.no/'"><img src="{% static 'images/partners/felgen_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://www.ragnvald-moe.no/'"><img src="{% static 'images/partners/RagnvaldMoe_white.png' %}"></div>
        <div class="partner-item" onclick="window.location.href='https://stasjonen.no/'"><img src="{% static 'images/partners/Stasjonen_white.png' %}"></div>

      </div>
    </div>
  </div>

  <!-- TOR & ANITAS VENNER (UNCHANGED) -->
  <div class="accordion-item">
    <div class="accordion-header">
      <span>TOR & ANITAS VENNER</span>
      <span class="plus">+</span>
    </div>

    <div class="accordion-content p">
      <p>
        Dokken &amp; Moen Murmesterforretning<br>
        Brillehjørnet Synsam<br>
        EGON Restaurant<br>
        Coca Cola<br>
        Aksjemøllen<br>
        Betong Øst<br>
        Prosit<br>
        Jorekstad fritidsbad<br>
        Innlandet Landskapsutforming<br>
        Kulturhjerte <br>
        ECPay <br>
        Naprapat-en <br>
        Mjøsbil <br>
        OLSENS ØYE <br>
        Holms Bilpleie <br>
        Lillehammer Data <br>
        Johnny's Renhold <br>
        P4 Radio Hele Norge<br>
        The Lounge<br>
        Sixt Lillehammer <br>
        Lillehammer Liftutleie<br>
        GK<br>
        JVB TUR A/S<br>
        Scandic Victoria Lillehammer<br>
        06565 Drosjene <br>
        Kirkens SOS <br>
        Hennig-Olsen is <br>
        Toten Kjøtt <br>
        Paddy´s <br>
        Husfliden <br>
        Wiese
      </p>
    </div>
  </div>

</div>

<br>
<br>
<br>
<h3 class="subheading padding">Thallaug Cup Lillehammer</h3>
<p class="padding">
  Lillehammer FK arrangerer hver vinter, i januar, Thallaug Cup Lillehammer i fotball. Dette er
en av de største futsalturneringene i Norden, og vi samarbeider med NFF om gjennomføring.
Fullstendig oversikt over partnere, finnes på turneringens hjemmeside.
<br>
<br>
Link til turneringen: <a href="/thallaug-cup/">Thallaug Cup</a>
</p>

<br>
<br>
<br>
<h3 class="subheading padding">Kiwi Cup</h3>
<p class="padding">
Sammen med Faaberg Idrettslag (FIL) arrangerer vi årlig Kiwi Cup. Dette er en
bedriftsturnering i fotball som har en tydelig sosial profil. I Kiwi Cup står folkehelse og
idrettsglede i sentrum, og det viktigste er å delta. Det er også helt greit å være best uten ball!
Fullstendig oversikt over partnere finnes på turneringens hjemmeside.
<br>
<br>
Link til turneringen: <a href="/kiwi-cup/">Kiwi Cup</a>
</p>


</div>
</div>
</section>



<style>
  .accordion-header {
    scroll-margin-top: 100px;
  }
</style>


<script>
const items = document.querySelectorAll('.accordion-item');

items.forEach(item => {
  const header = item.querySelector('.accordion-header');

  header.addEventListener('click', () => {

    const isActive = item.classList.contains('active');

    // Close ALL
    items.forEach(i => i.classList.remove('active'));

    // Open clicked one (only if it was not already open)
    if (!isActive) {
      item.classList.add('active');

      // 👇 Scroll to the item
      header.scrollIntoView({
        behavior: 'smooth',
        block: 'start'
      });
    }

  });
});
</script>
{% endblock %}