{% extends 'core/base.html' %}
{% load static %}

{% block head %}

<title>Samarbeidspartnere | Lillehammer FK Sponsorer</title>

<meta name="description" content="Se alle samarbeidspartnere og sponsorer til Lillehammer Fotballklubb. Bli partner og støtt lokal fotball i Lillehammer.">

<meta name="robots" content="index, follow">
<meta name="author" content="Lillehammer Fotballklubb">
<meta name="keywords" content="Lillehammer FK sponsorer, samarbeidspartnere Lillehammer, sponsor fotball Lillehammer, støtte idrett Lillehammer">

<link rel="canonical" href="{{ request.build_absolute_uri }}">

<!-- Open Graph -->
<meta property="og:title" content="Samarbeidspartnere | Lillehammer FK">
<meta property="og:description" content="Oversikt over våre sponsorer og samarbeidspartnere">
<meta property="og:image" content="{% static 'images/covers/sponsor.jpeg' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="nb_NO">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Lillehammer FK Sponsorer">
<meta name="twitter:description" content="Se våre samarbeidspartnere">
<meta name="twitter:image" content="{% static 'images/covers/sponsor.jpeg' %}">

<!-- Geo -->
<meta name="geo.region" content="NO-IN">
<meta name="geo.placename" content="Lillehammer">
<meta name="geo.position" content="61.1153;10.4662">
<meta name="ICBM" content="61.1153, 10.4662">

<!-- Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Lillehammer Fotballklubb",
  "url": "{{ request.build_absolute_uri }}",
  "sponsor": [
    {
      "@type": "Organization",
      "name": "SpareBank 1"
    },
    {
      "@type": "Organization",
      "name": "Anlegg Øst"
    },
    {
      "@type": "Organization",
      "name": "Webiser"
    },
  ]
}
</script>

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}">

<section class="cover blue">

<div class="image">
<img src="{% static 'images/covers/sponsor.jpeg' %}" class="cover-img" style="object-position:center 40%;">
</div>

<div class="content">
<div class="text">

<img src="{% static 'images/partners/Sno_Partnernettverk.png' %}" class="sno-partner">


<br><br>

<h3 class="subheading">Generalpartner</h3>

<div class="partner-list">

  <div class="partner-item">
    <img src="{% static 'images/partners/SpareBank 1_white.png' %}">
    <div class="actions">
      <a href="https://www.sparebank1.no" target="_blank"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/anleggost_white.png' %}">
    <div class="actions">
      <a href="https://anleggost.no" target="_blank"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

</div>


<br><br><br><br>

<h3 class="subheading">Øvre</h3>

<div class="partner-list">

  <div class="partner-item">
    <img class="small" src="{% static 'images/partners/GD_white.png' %}">
    <div class="actions">
      <a href="https://www.gd.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/Pizzabakeren_white.png' %}">
    <div class="actions">
      <a href="https://pizzabakeren.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  <div class="partner-item">
    <img class="small" src="{% static 'images/partners/Dialecta_white.png' %}">
    <div class="actions">
      <a href="https://dialecta.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

    <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/Puma_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/Eidsiva_white.png' %}">
    <div class="actions">
      <a href="https://eidsiva.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>


  <div class="partner-item">
    <img class="small" src="{% static 'images/partners/Alver_white.png' %}">
  </div>


  <div class="partner-item">
    <img class="small" src="{% static 'images/partners/rustadstuen_white.png' %}">
    <div class="actions">
      <a href="https://rustadstuen.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  
  <div class="partner-item">
    <img src="{% static 'images/partners/Kontorleverandoren_white.png' %}">
  </div>
  
  <div class="partner-item">
    <img src="{% static 'images/partners/LillehammerKultur_white.png' %}">
  </div>
  
  <div class="partner-item">
    <img src="{% static 'images/partners/Mova_white.png' %}">
  </div>
  
  <div class="partner-item">
    <img src="{% static 'images/partners/Sport1_white.png' %}">
  </div>



    <div class="partner-item">
    <img src="{% static 'images/partners/Fjossystemer_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/GudbrandsdalEnergi_white.png' %}">
  </div>


  <div class="partner-item">
    <img src="{% static 'images/partners/Kantall_white.png' %}">
    <div class="actions">
      <a href="https://kantall.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/Norconsult_white.png' %}">
    <div class="actions">
      <a href="https://norconsult.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>



</div>


<br><br><br><br>

<h3 class="subheading">Nedre</h3>

<div class="partner-list">

    <div class="partner-item">
    <img src="{% static 'images/partners/Eidsiva_white.png' %}">
    <div class="actions">
      <a href="https://eidsiva.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

    <div class="partner-item">
    <img src="{% static 'images/partners/Webiser.png' %}">
    <div class="actions">
      <a href="https://webiser.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>
 

  <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/OMFjeld_white.png' %}">
  </div>

  <div class="partner-item">
    <img  class="small"  src="{% static 'images/partners/Glor_white.png' %}">
    <div class="actions">
      <a href="https://glor.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>


  <div class="partner-item">
    <img src="{% static 'images/partners/CC_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/Ikomm_white.png' %}">
  </div>
  <div class="partner-item">
    <img src="{% static 'images/partners/structor_white.png' %}">
  </div>


  <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/Kiwi_white.png' %}">
  </div>




  <div class="partner-item">
    <img src="{% static 'images/partners/LillehammerSentrumDrift_white.png' %}">
  </div>



  <div class="partner-item">
    <img src="{% static 'images/partners/OstbyeSletmoen_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/PaaBordet_white.png' %}">
  </div>




</div>


<br><br><br><br>

<h3 class="subheading">Søndre</h3>

<div class="partner-list">

  <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/LillehammerLive_white.png' %}">
  </div>

  <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/ABBemanning_white.png' %}">
  </div>

  <div class="partner-item">
    <img  src="{% static 'images/partners/Aktivklinikken_white.png' %}">
  </div>

  <div class="partner-item">
    <img  src="{% static 'images/partners/ThorBergseng_white.png' %}">
  </div>

    <div class="partner-item">
    <img src="{% static 'images/partners/Profilgutta_white.png' %}">
  </div>

    <div class="partner-item">
    <img src="{% static 'images/partners/LillehammerVentilasjon_white.png' %}">
  </div>
  <div class="partner-item">
    <img class="small"  src="{% static 'images/partners/CCmat_white.png' %}">
  </div>

    <div class="partner-item">
    <img  class="small"  src="{% static 'images/partners/Aider_white.png' %}">
  </div>


    <div class="partner-item">
    <img src="{% static 'images/partners/GausdalLandhandleri_white.png' %}">
  </div>

     <div class="partner-item">
    <img src="{% static 'images/partners/Olivera_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/felgen_white.png' %}">
    <div class="actions">
      <a href="https://felgen-trafikkskole.no"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>


  <div class="partner-item">
    <img src="{% static 'images/partners/RagnvaldMoe_white.png' %}">
  </div>

  <div class="partner-item">
    <img src="{% static 'images/partners/Stasjonen_white.png' %}">
  </div>

</div>


<br><br><br><br>

<h3 class="subheading">Tor &amp; Anitas venner</h3>

<p>
Dokken &amp; Moen Murmesterforretning<br>
Brillehjørnet Synsam<br>
EGON Restaurant<br>
Coca Cola<br>
House of control <br>
Aksjemøllen<br>
Betong Øst<br>
Prosit<br>
Jorekstad fritidsbad<br>
Innlandet Landskapsutforming<br>
Kulturhjerte <br>
ECPay <br>
Naprapat-en
Mjøsbil <br>
OLSENS ØYE <br>
Holms Bilpleie <br>
Lillehammer Data <br>
Johnny's Renhold <br>
P4 Radio Hele Norge<br>
The Lounge<br>
Sixt Lillehammer <br>
Lillehammer Liftutleie<br>
GK<br>
JVB TUR A/S<br>
Scandic Victoria Lillehammer<br>
06565 Drosjene <br>
Kirkens SOS
</p>

<br>
<br>
<br>
<h3 class="subheading">Thallaug Cup Lillehammer</h3>
<p>
  Lillehammer FK arrangerer hver vinter, i januar, Thallaug Cup Lillehammer i fotball. Dette er
en av de største futsalturneringene i Norden, og vi samarbeider med NFF om gjennomføring.
Fullstendig oversikt over partnere, finnes på turneringens hjemmeside.
<br>
<br>
Link til turneringen: <a href="/thallaug-cup/">Thallaug Cup</a>
</p>

<br>
<br>
<br>
<h3 class="subheading">Kiwi Cup</h3>
<p>
Sammen med Faaberg Idrettslag (FIL) arrangerer vi årlig Kiwi Cup. Dette er en
bedriftsturnering i fotball som har en tydelig sosial profil. I Kiwi Cup står folkehelse og
idrettsglede i sentrum, og det viktigste er å delta. Det er også helt greit å være best uten ball!
Fullstendig oversikt over partnere finnes på turneringens hjemmeside.
<br>
<br>
Link til turneringen: <a href="/kiwi-cup/">Kiwi Cup</a>
</p>


</div>
</div>
</section>


<style>
.partner-list{
display:flex;
flex-direction:column;
gap:18px;
margin-top:20px;
}

.partner-item{
display:flex;
align-items:center;
justify-content:space-between;

padding:14px 0;
border-bottom:1px solid rgba(255,255,255,0.15);
}

.partner-item img{
height:40px;
width:auto;
object-fit:contain;
}

.partner-item img.small{
  width: 95px !important;
  height:95px !important;
  object-fit: contain !important;
}

.actions{
display:flex;
gap:10px;
}

.actions a{
width:28px;
height:28px;
background:white;
color:#b6a265 !important;
border-radius:6px;

display:flex;
align-items:center;
justify-content:center;

font-size:12px;
text-decoration:none;
transition:.2s;
}

.actions a:hover{
transform:translateY(-2px);
background:#b6a265;
color:white !important;
}
</style>

{% endblock %}