$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #191D3A;
$txt: #183b56;

.cover{
    width: 100%;
    min-height: max-content;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    height: 485px;
    .cover-image{
        width: 100%;
        height: 485px;
        filter: brightness(65%);
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
    .content{
        padding-inline: 20px;
        padding-top: 56px;
        padding-bottom: 40px;
        height: max-content;
        position: relative;
        padding-top: 110px;
        .text{
            text-align: center;
            h1{
                color: white;
                font-size: 32px;
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                span{
                    width: 45px;
                    height: 2px;
                    background: white;
                    border-radius: 10px;
                }
            }
            .cover-image-2{
                width: 125px;
                height: auto;
                background: rgba(255, 255, 255, 0.041);
                border-radius: 25px;
                transform: translateY(40px);
            }
        }
    }
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    margin-top: 40px;
    overflow: hidden;
    padding: 15px 0;
    white-space: nowrap;
    position: relative;
    background: white;
    padding-bottom: 30px;
    .logos:before,
    .logos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }
    
    .logos:hover .logos-slide {
      animation-play-state: paused;
    }
    
    .logos-slide {
      display: inline-block;
      animation: 30s slide infinite linear;
    }
    
    .logos-slide img {
      width: 160px;
      height: auto;
      margin: 0 25px;
    }
  }
  


.blog{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: white;
                font-size: 27px;
                font-weight: 500;
            }
        }
        .posts{
            height: auto;
            position: relative;
            margin-top: 25px;
            width: 100%;
            display: flex;
            overflow-x: scroll;
            padding-bottom: 25px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }
            .post{
                background: #323861;
                min-width: 80%;
                margin-inline: 15px;
                height: 380px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                transition: .2s;
                &:first-child{
                    margin-left: 0;
                }
                &:hover{
                    transform: scale(1.05);
                }
                img{
                    border-radius: 4px;
                    height: 220px;
                    width: 100%;
                    object-fit: cover;
                }
                .text{
                    padding-inline: 25px;
                    text-align: left;
                    margin-top: 15px;
                    p{
                        font-size: 14px;
                        color: white;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    h1{
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.about-us{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: white;
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}

.events{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: white;
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}