$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #191D3A;
$txt: #183b56;

.cover{
    width: 100%;
    min-height: max-content;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    height: 475px;
    .cover-image{
        width: auto;
        height: 475px;
        filter: brightness(55%);
        position: absolute;
        left: 0;
        top: 0;
    }
    .content{
        padding-inline: 20px;
        padding-top: 56px;
        padding-bottom: 40px;
        height: max-content;
        position: relative;
        padding-top: 110px;
        .text{
            text-align: center;
            h1{
                color: white;
                font-size: 32px;
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                span{
                    width: 45px;
                    height: 2px;
                    background: white;
                    border-radius: 10px;
                }
            }
            .cover-image-2{
                width: 125px;
                height: auto;
                background: rgba(255, 255, 255, 0.041);
                border-radius: 25px;
            }
        }
    }
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 5px 0;
    white-space: nowrap;
    position: relative;
    transform: translateY(-60px);
    .logos:before,
    .logos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }
    
    .logos:hover .logos-slide {
      animation-play-state: paused;
    }
    
    .logos-slide {
      display: inline-block;
      animation: 30s slide infinite linear;
    }
    
    .logos-slide img {
      width: 160px;
      height: auto;
      margin: 0 25px;
    }
  }
  


.blog{
    width: 100%;
    height: auto;
    position: relative;
    padding-block: 60px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: $black;
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}

.about-us{
    width: 100%;
    height: auto;
    position: relative;
    padding-block: 60px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: $black;
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}

.events{
    width: 100%;
    height: auto;
    position: relative;
    padding-block: 60px;
    .content{
        position: relative;
        padding-inline: 20px;
        .text{
            h1{
                color: $black;
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}