#footerMob {
  margin-top: 0;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 18px;
  position: relative;
  background: #252a4b;
  padding-inline: 20px;
}
#footerMob .contact-info .info-heading {
  color: white;
  font-size: 19px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .contact-info a {
  display: block;
  color: white;
  font-size: 17px;
  width: -moz-max-content;
  width: max-content;
  padding-right: 5px;
  margin-block: 8px;
}
#footerMob .contact-info a:first-child {
  margin-top: 0;
}
#footerMob .links p {
  margin-bottom: 0;
  color: white;
}
#footerMob .links .business-heading {
  color: white;
  font-size: 19px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .links .info-heading {
  color: white;
  font-size: 19px;
  margin-bottom: 3px;
  font-weight: 500;
}
#footerMob .links button {
  background: #191D3A;
  border: 1px solid transparent;
  width: auto;
  height: auto;
  padding: 7px 26px;
  margin-top: 14px;
  outline: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
}
#footerMob .links a {
  display: block;
  color: white;
  font-size: 17px;
  width: -moz-max-content;
  width: max-content;
  padding-right: 5px;
  margin-block: 8px;
}
#footerMob .links a:first-child {
  margin-top: 0;
}
#footerMob .bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  opacity: 0.85;
}
#footerMob .bottom .copyright {
  color: white;
  font-size: 13px;
}
#footerMob .bottom .social-icons i {
  color: white;
  font-size: 20px;
  margin-inline: 2px;
  padding: 8px;
  transition: 0.2s;
}
#footerMob .bottom .social-icons i:hover {
  color: #191D3A;
}

@media only screen and (min-device-width: 1140px) {
  #footerMob {
    padding-inline: 35px;
  }
  #footerMob .hours {
    background: rgb(242, 242, 242);
    width: 380px;
    padding: 13px 8px;
    height: -moz-max-content;
    height: max-content;
  }
  #footerMob .hours .info-heading {
    color: #1F1F1F;
    font-size: 19px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  #footerMob .hours a {
    display: block;
    color: #1F1F1F;
    font-size: 17px;
    width: -moz-max-content;
    width: max-content;
    padding-right: 5px;
    margin-block: 8px;
  }
  #footerMob .hours a:first-child {
    margin-top: 0;
  }
  #footerMob .flex {
    display: flex;
  }
  #footerMob .flex hr {
    display: none !important;
  }
  #footerMob .flex .links {
    transform: translateX(80px);
  }
  #footerMob .flex .contact-info {
    transform: translateX(40px);
  }
  #footerMob .bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    opacity: 0.85;
  }
  #footerMob .bottom .copyright {
    color: #1F1F1F;
    font-size: 14px;
  }
  #footerMob .bottom .social-icons i {
    color: #1F1F1F;
    font-size: 24px;
    margin-inline: 2px;
    padding: 8px;
    transition: 0.2s;
    cursor: pointer;
  }
  #footerMob .bottom .social-icons i:hover {
    color: #191D3A;
  }
}
@media only screen and (min-device-width: 1290px) {
  #footerMob {
    padding-inline: 35px;
    padding-top: 30px;
  }
  #footerMob .content {
    max-width: 1290px;
    margin-inline: auto;
  }
  #footerMob .hours {
    background: rgb(242, 242, 242);
    width: 380px;
    padding: 13px 8px;
    height: -moz-max-content;
    height: max-content;
  }
  #footerMob .hours .info-heading {
    color: #1F1F1F;
    font-size: 19px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  #footerMob .hours a {
    display: block;
    color: #1F1F1F;
    font-size: 17px;
    width: -moz-max-content;
    width: max-content;
    padding-right: 5px;
    margin-block: 8px;
  }
  #footerMob .hours a:first-child {
    margin-top: 0;
  }
  #footerMob .flex {
    display: flex;
  }
  #footerMob .flex hr {
    display: none !important;
  }
  #footerMob .flex .links {
    transform: translateX(80px);
  }
  #footerMob .flex .contact-info {
    transform: translateX(40px);
  }
  #footerMob .bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    opacity: 0.85;
  }
  #footerMob .bottom .copyright {
    color: #1F1F1F;
    font-size: 14px;
  }
  #footerMob .bottom .social-icons i {
    color: #1F1F1F;
    font-size: 24px;
    margin-inline: 2px;
    padding: 8px;
    transition: 0.2s;
    cursor: pointer;
  }
  #footerMob .bottom .social-icons i:hover {
    color: #191D3A;
  }
}/*# sourceMappingURL=footer.css.map */