$black: #1F1F1F;
$white: rgb(247,247,247);
$primBtn: #191D3A;
$txt: #183b56;
$lfkgold: #B6A265;




@media only screen and (min-device-width: 1140px) {
 .footer{
    // background: linear-gradient(to bottom right, #191D3A, #191D3A, #B6A265);
    width: 100%;
    height: max-content;
    padding: 70px 50px;
    padding-bottom: 50px;
    background: #12152c;
    z-index: 1000;
    position: relative;
    .rights{
        text-align: right;
        margin-top: 25px;
        p{
            text-decoration: none;
            color: white;
            font-size: 14px;
            opacity: 0.8;
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        max-width: max-content;
        margin-top: 45px;
        position: relative;
        .social-icons{
            width: 250px;
            position: absolute;
            right: -120%;
            top: 50%;
            transform: translateY(-45%);
            display: flex;
            flex-wrap: wrap;
            i{
                flex: 0 0 50%; 
                color: white;
                width: 50%;
                font-size: 28px;
                max-width: 100px;
                background: rgba(255, 255, 255, 0.16);
                border-radius: 6px;
                margin: 10px;
                padding: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .links{
            strong{
                color: $white;
                font-family: 'Stampa', "Roboto", sans-serif;
                font-size: 19px;
                margin-bottom: 15px;
                font-weight: 500;

            }
            a{
                color: $white;
                font-size: 16px;
                font-weight: 500;
                margin: 2px;
                margin-block: 6px;
                width: 100%;
                display: block;
                font-family: 'Stampa', "Roboto", sans-serif;
                opacity: 0.8;
                &.sub-item{
                    margin-left: 10px;
                }
            }
        }
    }
 }
}

