{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->

<div class="footer">
    <!-- <div class="top">
        <h2>Lillehammer fotball klubb <br>	&#169; {% now "Y" %}</h2> 
    </div> -->
<div class="bottom">

  <!-- SPORT -->
  <div class="links">
    <strong>Sport</strong>

    <a href="{% url 'senior' %}">Lag</a>
    <a href="{% url 'senior' %}" class="sub-item">– Senior</a>
    <a href="{% url 'ungdom' %}" class="sub-item">– Ungdom</a>
    <a href="{% url 'barn' %}" class="sub-item">– Barn</a>
    <a href="{% url 'wednesday_united' %}" class="sub-item">– Wednesday United</a>

    <a href="{% url 'uefa_playmakers' %}">UEFA Playmakers</a>
    <a href="https://docs.google.com/spreadsheets/d/1it_kH0eqoNj_iWtIeUkTcDqjz8DXaOMXLRdcRhp6lSQ/edit?gid=64907490#gid=64907490" target="_blank">Sportsplan</a>
    <a href="https://docs.google.com/spreadsheets/d/14bv8U2WLV1JvhFFnL3SdKF4rJtcw6gGUNppMXrGMcOI/edit?gid=387839643#gid=387839643" target="_blank">Utviklingstrapp</a>
    <a href="{% url 'landslagsskolen' %}">Landslagsskolen</a>
    <a href="{% url 'fair_play' %}">Fair Play</a>
  </div>

  <!-- MARKED -->
  <div class="links">
    <strong>Marked</strong>

    <a href="{% url 'vare_samarbeidspartnere' %}">Våre samarbeidspartnere</a>
    <a href="{% url 'baerekraft' %}">Bærekraft</a>
    <a href="{% url 'medlemsfordeler' %}">Medlemsfordeler</a>
    <a href="{% url 'grasrotandelen' %}">Grasrotandelen</a>
    <a href="{% url 'la_stampa_magasin' %}">La Stampa Magasinet</a>
    <a href="#">La Stampa Shop</a>
    <a href="{% url 'stampapodden' %}">Stampapodden</a>
    <a href="https://readymag.website/u1483769256/4951792/" target="_blank">Partnerbrosjyre</a>
  </div>

  <!-- ARRANGEMENT -->
  <div class="links">
    <strong>Arrangement</strong>

    <a href="#">Kamper</a>
    <a href="{% url 'tine_fotballskole' %}">Tine Fotballskole</a>
    <a href="{% url 'thallaug_cup' %}">Thallaug Cup Lillehammer</a>
    <a href="{% url 'kiwi_cup' %}">Kiwi Cup</a>
  </div>

  <!-- OM KLUBBEN -->
  <div class="links">
    <strong>Om klubben</strong>

    <a href="{% url 'historie' %}">Historie</a>
    <a href="{% url 'klubbhandbok' %}">Klubbhåndbok</a>
    <a href="{% url 'klubbkolleksjon' %}">Klubbkolleksjon</a>
    <a href="{% url 'medlemskap' %}">Medlemskap</a>
    <a href="{% url 'styret' %}">Styret</a>
    <a href="{% url 'kontakt' %}">Kontakt</a>
    <!-- <a href="{% url 'varsling' %}">Varsling</a> -->
    <a href="{% url 'forsikring' %}">Forsikring</a>
    <a href="{% url 'dommere' %}">Dommere</a>
    <a href="{% url 'politiattest' %}">Politiattest</a>
    <a href="{% url 'minibuss' %}">Minibuss</a>
    <a href="{% url 'fotballfondet' %}">Fotballfondet</a>
    <a href="https://frivillighetsbanken.no/" target="_blank" rel="noopener">Frivillighetsbanken</a>
  </div>

</div>

<div class="rights">
    <p>Lillehammer Fotballklubb</p>
    <p>Postboks 11, 2601 Lillehammer</p>
    <p>Org.nr: 981623916</p>
    <p>Personvernerklæring</p>
    <p>Alle retigheter © {% now "Y" %} Lillehammer Fotballklubb (LFK). Nettside laget av Webiser AS</p>
</div>

</div>