{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->

<div class="footer">
    <!-- <div class="top">
        <h2>Lillehammer fotball klubb <br>	&#169; {% now "Y" %}</h2> 
    </div> -->
   <div class="bottom">

  <div class="links">
    <strong>Sport</strong>
    <a href="#">Lag</a>
    <a href="#" class="sub-item">– Senior</a>
    <a href="#" class="sub-item">– Ungdom</a>
    <a href="#" class="sub-item">– Barn</a>
    <a href="#" class="sub-item">– Wednesday United</a>
    <a href="#" class="sub-item">– Terminliste alle lag</a>
    <a href="#">UEFA Playmakers</a>
    <a href="#">Sportsplan</a>
    <a href="#">Utviklingstrapp</a>
    <a href="#">Landslagsskolen</a>
    <a href="#">Fair Play</a>
  </div>

  <div class="links">
    <strong>Marked</strong>
    <a href="#">Våre samarbeidspartnere</a>
    <a href="#">Bærekraft</a>
    <a href="#">Medlemsfordeler</a>
    <a href="#">Grasrotandelen</a>
    <a href="#">La Stampa Magasinet</a>
    <a href="#">La Stampa Shop</a>
    <a href="#">Stampapodden</a>
    <a href="#">Partnerbrosjyre</a>
  </div>

  <div class="links">
    <strong>Arrangement</strong>
    <a href="#">Kamper</a>
    <a href="#">Tine Fotballskole</a>
    <a href="#">Thallaug Cup Lillehammer</a>
    <a href="#">Kiwi Cup</a>
  </div>

  <div class="links">
    <strong>Om klubben</strong>
    <a href="#">Historie</a>
    <a href="#">Klubbhåndbok</a>
    <a href="#">Klubbkolleksjon</a>
    <a href="#">Medlemskap</a>
    <a href="#">Styret</a>
    <a href="#">Kontakt</a>
    <a href="#">Varsling</a>
    <a href="#">Forsikring</a>
    <a href="#">Dommere</a>
    <a href="#">Politiattest</a>
    <a href="#">Minibuss</a>
    <a href="#">Fotballfondet</a>
    <a href="#">Frivilighetsbanken</a>
  </div>

</div>

<div class="rights">
    <p>Lillehammer Fotballklubb</p>
    <p>Postboks 11, 2601 Lillehammer</p>
    <p>Org.nr: 981623916</p>
    <p>Personvernerklæring</p>
    <p>Alle retigheter © {% now "Y" %} Lillehammer Fotballklubb (LFK). Nettside laget av Webiser AS</p>
</div>

</div>