{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->
<div id="footerMob">
    <div class="content">

   

    <div class="flex">

    <div class="contact-info">
        <p class="info-heading">Lillehammer FK</p>
        <a>Org.nr. 981 623 916</a>
        <a>
            Postboks 11, 2601 Lillehammer</a>
    </div>

    <hr style="margin-block: 25px;">
    
    <div class="links">
        <p class="info-heading">Linker</p>
        <a href="/personvernerklaering/">Bli medlem</a>
        <a href="/kontakt-oss/">Arrangementer</a>
        <a href="/om-oss/">Om oss</a>
        <a href="/selg-bilen/book-time/avbestill-time/">A-laget</a>
    </div>
</div>

    <hr style="margin-block: 25px; background: rgba(255,255,255,0.5);">

    <div class="bottom">
        <div class="copyright">
            &#169; 2023 Lillehammer FK <br>
            Nettside er levert av Webiser
        </div>
           <div class="social-icons">
            <i onclick="window.location.href=''" class="fab fa-instagram"></i>
            <i onclick="window.location.href=''" class="fab fa-facebook"></i>
        </div>
    </div>    
</div>     
</div>
