{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>

<!-- Cover -->
<div class="cover">
  <img src="{%  static 'images/covers/cover-1.jpg' %}" alt="" class="cover-image">
  <!-- Content -->
  <div class="content">
    <div class="text">
      <h1>Lillehammer FK</h1>
      <p><span style="margin-right: 10px;"></span> Etablert 1911 <span style="margin-left: 10px;"></span></p>
    </div>
  </div>
</div>
{% endblock %}
 