{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>



<!-- <div id="startOverlay"></div> -->
<section class="cover" id="coverMain">
 <img src="{% static 'images/covers/barn.jpg' %}" alt="" class="cover-img" >
  <div class="overlay"></div>
  <div class="content">
    <div class="text">
      <h1>Barnefotball G/J6 - G/J12</h1>
    </div>
  </div>
</section>


<section class="blog reveal" id="blogNew">
  <div class="content">
        <div class="right">
   
      <div class="text">
        <h2>Bli med</h2>
        <p>Lillehammer FK har aldersbestemte lag fra 13 til 19 år. Ønsker du å komme i kontakt med et av lagene kan du kontakte laglederen direkte nedenfor eller oss i administrasjonen.</p>
        <button  onclick="window.location.href='/om-klubben/medlemskap/'">Se hvordan du kan bli en del av historien <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="left">
        <img src="{% static 'images/other/barn.jpg' %}" alt="" >

        <div class="imgoverlay"></div>
    </div>

  </div>
</section>

<section class="blog reveal" id="blogNew">
  <div class="content">
    <div class="left">
      <img src="{% static 'images/other/barn2.jpg' %}" alt="">
      <div class="imgoverlay"></div>
    </div>

    <div class="right">
      <div class="text">
        <h2>Lag</h2>

        <div class="contact-table-wrap">
          
          <table class="contact-table">
    <thead>
      <tr>
        <th>Lag</th>
        <th>Skolekrets</th>
        <th>Lagleder</th>
        <th>E-postadresse lagleder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>G2019</td>
        <td>Gutter 5 år etter fra Søre Ål, Nordre Ål og midt i mellom</td>
        <td>Jo Eivind Bergundhaugen</td>
        <td><a href="mailto:jo.bergundhaugen@gmail.com">jo.bergundhaugen@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2018</td>
        <td>Sammeslått</td>
        <td>Markus Falmo</td>
        <td><a href="mailto:falmoesp@outlook.com">falmoesp@outlook.com</a></td>
      </tr>
      <tr>
        <td>G2017</td>
        <td>N. Ål</td>
        <td>Rasmus Fjeldheim</td>
        <td><a href="mailto:rasmussfjeldheim@gmail.com">rasmussfjeldheim@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2016</td>
        <td>Hamarstun</td>
        <td>Trine K. Karlsen</td>
        <td><a href="mailto:trinekarlsen@hotmail.com">trinekarlsen@hotmail.com</a></td>
      </tr>
      <tr>
        <td>G2015</td>
        <td>N. Ål</td>
        <td>Fredrik I. Dølva</td>
        <td><a href="mailto:lagleder15@gmail.com">lagleder15@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2014</td>
        <td>Hamarstun</td>
        <td>Reidar Opsal</td>
        <td><a href="mailto:reidar@lillehammer.no">reidar@lillehammer.no</a></td>
      </tr>
      <tr>
        <td>G2013</td>
        <td>Sammeslått</td>
        <td>Thos Østmoen</td>
        <td><a href="mailto:thosostmoen@gmail.com">thosostmoen@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2012</td>
        <td>N. Ål</td>
        <td>Kristofer I. Eriksen</td>
        <td><a href="mailto:kristoiersen@gmail.com">kristoiersen@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2011</td>
        <td>Hamarstun</td>
        <td>Mats Solbakken</td>
        <td><a href="mailto:mats.solbakken@gmail.com">mats.solbakken@gmail.com</a></td>
      </tr>
      <tr>
        <td>G2010</td>
        <td>Sammeslått</td>
        <td>Kåre Wang</td>
        <td><a href="mailto:kaarewang@gmail.com">kaarewang@gmail.com</a></td>
      </tr>
  
      <tr>
        <td>J2019</td>
        <td>Gutter 5 år etter fra Søre Ål, Nordre Ål og midt i mellom</td>
        <td>Jo Eivind Bergundhaugen</td>
        <td><a href="mailto:jo.bergundhaugen@gmail.com">jo.bergundhaugen@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2018</td>
        <td>Sammeslått</td>
        <td>Even O. Hattestad</td>
        <td><a href="mailto:even.hattestad@gmail.com">even.hattestad@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2017</td>
        <td>Hamarstun</td>
        <td>Bjørn A. Endres</td>
        <td><a href="mailto:post@bjorn.no">post@bjorn.no</a></td>
      </tr>
      <tr>
        <td>J2017</td>
        <td>N. Ål</td>
        <td>Bente Kjeldsen</td>
        <td><a href="mailto:bente.kjeldsen@online.no">bente.kjeldsen@online.no</a></td>
      </tr>
      <tr>
        <td>J2016</td>
        <td>Sammeslått</td>
        <td>Eli-K Karstuen</td>
        <td><a href="mailto:ekarstuen@gmail.com">ekarstuen@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2015</td>
        <td>N. Ål</td>
        <td>Lene S. Møllerbakken</td>
        <td><a href="mailto:lene.sjaastad@gmail.com">lene.sjaastad@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2015</td>
        <td>Hamarstun</td>
        <td>Magne Solberg</td>
        <td><a href="mailto:magne.solberg@gmail.com">magne.solberg@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2014</td>
        <td>Sammeslått</td>
        <td>Linn Rønning</td>
        <td><a href="mailto:linnronning@gmail.com">linnronning@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2013</td>
        <td>N. Ål</td>
        <td>Øistein Okstrøm</td>
        <td><a href="mailto:okstrom@gmail.com">okstrom@gmail.com</a></td>
      </tr>
      <tr>
        <td>J2012</td>
        <td>Hamarstun</td>
        <td>Line Dahl Skagard</td>
        <td><a href="mailto:ldsg@f.no">ldsg@f.no</a></td>
      </tr>
    </tbody>
        </table>
        </div>


      </div>
    </div>
  </div>
</section>



{% endblock %}
 