{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/teams/senior.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>



<!-- <div id="startOverlay"></div> -->
<section class="cover" >
    <div class="content">
        
        <div class="left" onclick="window.location.href='/lag/senior/herrer/'">
        <div class="overlay" onclick="window.location.href='/lag/senior/herrer/'"></div>
        <img src="{% static 'images/other/senior-herrer.jpeg' %}" alt="" class="no-hover" onclick="window.location.href='/lag/senior/herrer/'">
        <img src="{% static 'images/covers/herrer.jpeg' %}" alt="" class="hover" onclick="window.location.href='/lag/senior/herrer/'">
        <div class="text"><h1>Herrer</h1></div>
    </div>
    
    <div class="right" onclick="window.location.href='/lag/senior/kvinner/'">
            <div class="overlay" onclick="window.location.href='/lag/senior/kvinner/'"></div>
            <img src="{% static 'images/other/senior-kvinner.jpeg' %}" alt="" class="no-hover" onclick="window.location.href='/lag/senior/kvinner/'">
            <img src="{% static 'images/covers/kvinner.jpeg' %}" alt="" class="hover" onclick="window.location.href='/lag/senior/kvinner/'">
            <div class="text"><h1>kvinner</h1></div>
    </div>
 
  </div>
</section>



{% endblock %}
 