{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>



<!-- <div id="startOverlay"></div> -->
<section class="cover" id="coverMain">
 <img src="{% static 'images/other/ungdom.png' %}" alt="" class="cover-img" >
  <div class="overlay"></div>
  <div class="content">
    <div class="text">
      <h1>Ungdom G/J13- G19/J17</h1>
    </div>
  </div>
</section>


<section class="blog reveal" id="blogNew">
  <div class="content">
        <div class="right">
   
      <div class="text">
        <h2>Bli med</h2>
        <p>Lillehammer FK har aldersbestemte lag fra 13 til 19 år. Ønsker du å komme i kontakt med et av lagene kan du kontakte laglederen direkte nedenfor eller oss i administrasjonen.</p>
        <button>Se hvordan du kan bli en del av historien <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="left">
        <img src="{% static 'images/other/ungdom2.png' %}" alt="" >

        <div class="imgoverlay"></div>
    </div>

  </div>
</section>

<section class="blog reveal" id="blogNew">
  <div class="content">
    <div class="left">
      <img src="{% static 'images/other/ungdom3.png' %}" alt="">
      <div class="imgoverlay"></div>
    </div>

    <div class="right">
      <div class="text">
        <h2>Lag</h2>

        <div class="contact-table-wrap">
          <table class="contact-table">
            <thead>
              <tr>
                <th>Lag</th>
                <th>Kontaktperson</th>
                <th>E-postadresse kontaktperson</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>G13</td>
                <td>Marte Halsa Bakken</td>
                <td><a href="mailto:martehaba@hotmail.com">martehaba@hotmail.com</a></td>
              </tr>
              <tr>
                <td>G14</td>
                <td>Torun Løvseth</td>
                <td><a href="mailto:torunlovseth@hotmail.com">torunlovseth@hotmail.com</a></td>
              </tr>
              <tr>
                <td>G15</td>
                <td>Ingvill Helseth</td>
                <td><a href="mailto:ingvillh@gmail.com">ingvillh@gmail.com</a></td>
              </tr>
              <tr>
                <td>G16</td>
                <td>Haakon Engen</td>
                <td><a href="mailto:haakon@lillehammerfk.no">haakon@lillehammerfk.no</a></td>
              </tr>
              <tr>
                <td>G19</td>
                <td>Henrik Wangberg</td>
                <td><a href="mailto:hwangberg@lillehammerfk.no">hwangberg@lillehammerfk.no</a></td>
              </tr>
              <tr>
                <td>Senior herrer</td>
                <td>Morten Kjetilien // Stig Ringlund</td>
                <td>
                  <a href="mailto:morten.kjetilien@live.com">morten.kjetilien@live.com</a>
                  <span class="sep">//</span>
                  <a href="mailto:stig.ringlund@hotmail.com">stig.ringlund@hotmail.com</a>
                </td>
              </tr>
              <tr>
                <td>J13</td>
                <td>Anne-Kathrine Duns // Øydis Evensen</td>
                <td>
                  <a href="mailto:akduns@gmail.com">akduns@gmail.com</a>
                  <span class="sep">//</span>
                  <a href="mailto:oydisevensen@gmail.com">oydisevensen@gmail.com</a>
                </td>
              </tr>
              <tr>
                <td>J14</td>
                <td>Silja Hjelmstadstuen</td>
                <td><a href="mailto:silja.hjelmstadstuen@gmail.com">silja.hjelmstadstuen@gmail.com</a></td>
              </tr>
              <tr>
                <td>J17</td>
                <td>Hanne Grønning // Lene Møllerbakken</td>
                <td>
                  <a href="mailto:hanne_gronning@hotmail.com">hanne_gronning@hotmail.com</a>
                  <span class="sep">//</span>
                  <a href="mailto:lene.sjaastad@me.com">lene.sjaastad@me.com</a>
                </td>
              </tr>
              <tr>
                <td>Senior kvinner</td>
                <td>Marius N. Elind</td>
                <td><a href="mailto:admin@lillehammerfk.no">admin@lillehammerfk.no</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>



{% endblock %}
 