{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>

<section class="cover">
  <div class="image">
    <img
      src="{% static 'images/other/fondet.jpeg' %}"
      alt="Lillehammer FKs Fotballfond"
      class="cover-img">
  </div>

  <div class="content">
    <div class="text">

      <h1>Lillehammer FKs Fotballfond</h1>

      <p>
På årsmøtet 25. februar 2021 ble det i Lillehammer Kvinnefotballklubb vedtatt å opprette Lillehammer Fotballfond. Et fond som er sentralt i klubbens arbeid med å inkludere alle som ønsker å spille fotball. Dette fondet videreføres inn i fusjonert klubb og målet er å motvirke utenforskap.

Under finner du relevant informasjon om fondet og hvordan du søker.

Informasjon om fondet og søknadsprosess finner du i fondets VEDTEKTER:      </p>

<br>
<br>
   
<p>
  <span class="subheading">Vedtekter og retningslinjer for Fotballfondet (revidert okt. 2025)</span><br>
</p>

<p>
  <span class="subheading">§ Formål</span><br>
</p>

<ol class="numbered-list">
  <li>
    Fotballfondets formål er å bidra til at alle som ønsker å delta i klubbens aktivitet, uavhengig av økonomisk bakgrunn, får mulighet til dette.
  </li>

  <li>
    Midler fra fondet kan benyttes til dekning av:
    <ul>
      <li>Medlems- og treningsavgift</li>
      <li>Deltakelse på fotballskoler, FotballXtra, cuper eller turneringer</li>
      <li>Utstyr (sko, drakter, treningstøy etc.)</li>
    </ul>
  </li>

  <li>
    Fondet skal ikke benyttes til elitetiltak for enkeltspillere eller mindre grupper, men ha fokus på fellesskap og bredde.
  </li>

  <li>
    Fondet kan normalt dekke inntil 50 % av søkerens kostnader. I særskilte tilfeller kan høyere andel vurderes.
  </li>

  <li>
    Ved tildeling vektlegges:
    <ul>
      <li>Søkernes økonomiske bæreevne / familiesituasjon</li>
      <li>Sosiale hensyn, integrering og mangfold</li>
      <li>At andre offentlige støtteordninger er forsøkt først</li>
      <li>At søker / familie deltar i klubbens dugnader eller aktiviteter</li>
    </ul>
  </li>

  <li>
    Tildeling må skje slik at fondets bærekraft ivaretas — man kan ikke bruke mer midler enn fondets økonomi tåler.
  </li>
</ol>

<br>
<p>
  <span class="subheading">§ Søknadsfrister og behandlingsperioder</span><br>
</p>

<ol class="numbered-list">
  <li>
    Søknader sendes innen følgende faste frister, og behandles deretter samlet:
    <ul>
      <li>15. mars</li>
      <li>15. juni</li>
      <li>15. oktober</li>
    </ul>
  </li>

  <li>
    Alle søknader som gjelder klubbens felles sommerturnering skal søkes om senest 20. april.
  </li>

  <li>
    Søknader som kommer inn etter fristen i en periode, vil normalt bli overført til neste frist. Unntak kan gjøres ved særskilte behov og etter styrets vurdering.
  </li>

  <li>
    Alle mottatte søknader skal behandles innen 2 uker etter søknadsfristens utløp, og svar skal gis skriftlig.
  </li>

  <li>
    Fondet fører oversikt over søknader, tildelinger og samlet kapital. En kort rapport leveres til styret minst to ganger årlig, herunder én årsrapport før årsmøtet.
  </li>
</ol>

<br>

<p>
  <span class="subheading">§ Behandling av søknader</span><br>
</p>

<ol class="numbered-list">
  <li>
    Søknaden sendes skriftlig (via e-post) til administrasjonskoordinator i klubben:
    <a href="mailto:admin@lillehammerfk.no">admin@lillehammerfk.no</a>
  </li>

  <li>
    Søknaden må komme på epost, og benytte denne søknadsmalen:
    <a href="https://drive.google.com/file/d/1tixMOT2ZeoFBSNQGGFy-pwOX7LnB5xT9/view?usp=drive_link"> <strong>Søknadsmal_Fotballfondet</strong></a>
   
  </li>

  <li>
    Klubbens administrasjonskoordinator og et utpekt styremedlem behandler søknaden. Ved habilitet skal andre styremedlemmer tre inn i behandlingen.
  </li>

  <li>
    Avgjørelsen dokumenteres skriftlig via e-post.
  </li>

  <li>
    Alle som behandler søknader skal ha taushetsplikt med hensyn til personlige og økonomiske opplysninger.
  </li>
</ol>



    </div>
  </div>
</section>

{% endblock %}