{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>

<section class="cover yellow">
  <div class="image">
    <img
      src="{% static 'images/other/klubbbok.jpeg' %}"
      alt="Om klubben"
      class="cover-img">
  </div>

  <div class="content">
    <div class="text">

      <h1>Klubbhåndbok</h1>

      <p>
       Her finner du vår Klubbhåndbok, og målet er at våre medlemmer skal finne svar på de fleste spørsmål i Klubbhåndboken.

Den vil bli revidert årlig, før ny sesong.
<br>
<br>
<a href="{% static 'pdfs/Klubbhandbok-revidert-04.04.2025.pdf' %}" target="_blank" rel="noopener">Link til Klubbhåndbok er her</a>
      </p>

      <p>
        I tillegg til Klubbhåndboken har en av klubbens dyktige lagledere utarbeidet ytterligere informasjon/tips & triks rettet mot laglederrollen i Lillehammer FK:

        <br>
        <br>

       <a rel="noopener" target="_blank" href="https://lillehammerfkno-my.sharepoint.com/personal/admin_lillehammerfk_no/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fadmin%5Flillehammerfk%5Fno%2FDocuments%2FDokumenter%2FLFK%2F2025%2FAnnet%2FLagleder%2FLFK%20Ungdom%20%2D%20Ha%CC%8Andbok%20Lagleder%20%20%2D%202025%2E04%2E08%20RA%2Epdf&parent=%2Fpersonal%2Fadmin%5Flillehammerfk%5Fno%2FDocuments%2FDokumenter%2FLFK%2F2025%2FAnnet%2FLagleder&ga=1">
         Håndbok lagleder (ungdom).
       </a>


        <br>

        <a href="https://lillehammerfkno-my.sharepoint.com/:x:/g/personal/admin_lillehammerfk_no/EZcgJFZit9dAmfKCz4k1AAUB--nwLAHAK9qP1LTXp5CfGQ?e=HCjeFT"  rel="noopener" target="_blank">
          Lagleders sesongoversikt 2026.
        </a>

        <br>
        <a href="https://lillehammerfkno-my.sharepoint.com/:x:/g/personal/admin_lillehammerfk_no/Edl7JHFPMy5MlgrxzyiBEu0BW9ZqC2cNTkeLR-NJlynyPA?e=Q1h3QJ"  rel="noopener" target="_blank">
          Lagleders draktoversikt 2026.
        </a>

      </p>


    </div>
  </div>
</section>



{% endblock %}