{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'scss/global/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'scss/pages/kontakt.css' %}" type="text/css">

<section class="cover kontakt-page">

<div class="content">

<div class="text">
<h1>Kontakt oss</h1>
<p class="intro">
Her finner du kontaktinformasjon til administrasjonen og styret i Lillehammer FK.
</p>
</div>



<div class="flex">
    <div class="contact-section">
    
    <h2>Administrasjon</h2>
    
    <div class="contact-list">

<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Jostein Wahl</h3>
<p>Daglig leder</p>
</div>
<div class="actions">
<a href="tel:+4797675776"><i class="fa-solid fa-phone"></i></a>
<a href="mailto:dagligleder@lillehammerfk.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Mathias Roås</h3>
<p>Utviklingssjef</p>
</div>
<div class="actions">
<a href="tel:+4790108899"><i class="fa-solid fa-phone"></i></a>
<a href="mailto:utviklingssjef@lillehammerfk.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Marius Elind</h3>
<p>Administrasjonskoordinator</p>
</div>
<div class="actions">
<a href="tel:+4794142842"><i class="fa-solid fa-phone"></i></a>
<a href="mailto:admin@lillehammerfk.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Knut Arne Vassdokken</h3>
<p>Banefordeler</p>
</div>
<div class="actions">
<a href="mailto:banefordeler@lillehammerfk.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Roger Svenskerud</h3>
<p>Utstyrsansvarlig</p>
</div>
<div class="actions">
<a href="mailto:utstyrsansvarlig@lillehammerfk.no"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>


<div class="contact-person">
<img src="{% static 'images/other/default-person.jpeg' %}">
<div class="flex-actions">
<div class="info">
<h3>Arnold Anderson</h3>
<p>Dommeransvarlig</p>
</div>
<div class="actions">
<a href="mailto:arnoand@gmail.com"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>

</div>
    </div>
    
    <div class="contact-section">
    
    <h2>Styret</h2>
    
    <div class="contact-list">
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Haakon Engen</h3>
    <p>Styreleder</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Erik Huuse</h3>
    <p>Nestleder – Økonomi</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Turid Magnus</h3>
    <p>Styremedlem – Juridisk / Anlegg</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Fredrik Alver</h3>
    <p>Styremedlem – Juridisk</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Veslemøy Wedum</h3>
    <p>Styremedlem – Kommunikasjon</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Silja Hjelmstadstuen</h3>
    <p>Styremedlem – Marked</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Trond Erik Eriksen</h3>
    <p>Styremedlem – Sport</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Karen Sann Fougner</h3>
    <p>Varamedlem</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Ingvill Helset</h3>
    <p>Varamedlem</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Stian Grønås</h3>
    <p>Varamedlem</p>
    </div>
    </div>
    
    <div class="contact-person">
    <img src="{% static 'images/other/default-person.jpeg' %}">
    <div class="info">
    <h3>Ole Martin Hojem</h3>
    <p>Varamedlem</p>
    </div>
    </div>
    
    </div>
    </div>
</div>


</div>
</section>

{% endblock %}