{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>
<script src="{% static '/js/page.js' %}"></script>

<section class="cover">
  <div class="image">
    <img
      src="{% static 'images/other/varsling.jpeg' %}"
      alt="Forsikring"
      class="cover-img">
  </div>

  <div class="content">
    <div class="text">

      <h1>Varsling</h1>

      <p>
        Er det behov for å sende et varsel, gjøres dette på mail til: <a href="mailto:varsling@lillehammerfk.no">varsling@lillehammerfk.no</a>
        <br>
        <br>
        <a href="" target="_blank" rel="noopener">PDF fil kommer her</a>
        </p>    

   
        <br>
        <br>

      <p>   
        <span class="subheading">Rutiner for varsling</span><br>
        <br>
        Er det behov for å sende et varsel, gjøres dette på mail til: <a href="mailto:varsling@lillehammerfk.no">varsling@lillehammerfk.no</a>
Innen du sender et varsel, anbefaler vi at du leser igjennom klubbens rutiner for varsling,
som finnes her: <a href="" target="_blank" rel="noopener">PDF fil kommer her også</a>
      </p>



    </div>
  </div>
</section>

{% endblock %}